@font-face{
    font-family: 'Roboto';
    src: url(http://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2);
}

.header {
    position: fixed;
    color: #fff;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #000;
    z-index: 1;
}

.main_page{
    height: 70px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
}

.header_main_page{
    position: fixed;
    margin-top: 3px;
    width: 100%;
    color: #000;
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-size: 3em;
}

.posts{
    margin-top: 50;
}

.background{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    color: #fff;
    background-color: transparent;
    left: 0;
    background: rgba(139, 208, 217, 0.5)

}

.table{
    width: 470px;
    border-collapse: collapse;
    border: 3px solid #5a068f;
    margin-left: auto;
    margin-right: auto;
}

.td_h{
    text-align: center;
    padding: 5px;
    border: 3px solid rgb(90, 6, 143)
}

.solid{
    margin-top: 29px;
    z-index: 0;
    width: 100%
    left: 0;
    display: flex;
}

.td{
    text-align: left;
    padding: 5px;
    border: 3px solid rgb(90, 6, 143)
}

.list {
    display: flex;
    color: #fff;
    font-size: 2em;
    padding-top: 5px;
    justify-content: center;
    margin-top: 0;
    background-color: #000;
}

.button_main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 30%;
    padding: 10px;
    background-color: #0e69ab;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.button_tasks {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    padding: 5px;
    background-color: #0e69ab;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 2em;
    text-decoration: none;
}

.button_about{
    color: inherit;
    text-decoration: none;
    width: 15%;
    padding: 5px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
}

.button_check{
    border-radius: 5;
    color: #fff;
}

.dropdown{
    width: 100%;
    display: flex;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    size: 30px;
}

.button_submit{
    background-color: #0e69ab;
    color: #fff;
}

.registration{
    display: flex;;
    margin-top: 4px;
    border-style: solid;
    border-color: #000;
    margin-left: auto;
    margin-right: auto;
}
.login_down_text{
    display: flex;
    justify-content: center;
    color: #000
}

.login_error_text{
    display: flex;
    margin: 0;
    justify-content: center;
    color: #db0707
}

.login_reg_button{
    border-style: solid;
    border-color: #000;
    display: flex;
    justify-content: center;
    margin-left: 850px;
    margin-right: 850px;
    background-color: #c7c7c7;
    color: #000
}

.reg_text{
    display: flex;
    justify-content: center;
    color: #000
}

.text_about{
    width: 45%;
    align: center;
    display: flex;
    text_align: justify;
    margin-top: 10px;
    margin-left: 600px;
    margin-right: 100px;
    font-size: 2em;
    color: #000
}

a, a:hover, a:visited{
    color: inherit;
    text-decoration: none;
}

