<!DOCTYPE html>
<html lang="ru" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Сайт Ворона</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
       <div class="background">
       <div class="main_page">
           <div class="header_main_page">О проекте</div>
       </div>
           <div class="text_about" align="justify">Данный сайт является процессов изучения библиотеки Flask.</div>
           <div class="text_about">Да помогут мне Боги с этим делом...</div>
           <div class="a">
               <a href="{{url_for('index')}}"><button class="button_tasks">На главную</button></a>
           </div>
       </div>
</body>
</html>