<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сайт Ворона</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="header">Это мой первый сайт.</h1>
    <hr/>
    <p class="list">Какие стоят задачи:</p>
    <ol>
        <li class="point">Написать оформление сайта:</li>
        <ol>
            <li class="point">Добавить фон.</li>
            <li class="point">Добавить оформление текста.</li>
        </ol>
        <li class="point">Добавить некоторое количество страниц.</li>
    </ol>
    <hr/>

</body>
</html>