<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="background">
       <div class="main_page">
           <div class="header_main_page">Регистрация</div>
       </div>
        <form method="POST" action="/registration">
            <div >
            <input class="registration" type="text" name="username" placeholder="Имя пользователя" required>
            <input class="registration" type="password" name="password" placeholder="Пароль" required>
            <input class="registration" type="password" name="password_confirm" placeholder="Повторите пароль" required>
            <button class="registration" type="submit">Зарегистрироваться</button>

        </div>
        </form>
        <div class="login_error_text">
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
        </div>
        <div class="reg_text">
            <p>Уже зарегистрированы?</p>
        </div>
        <div class="login_reg_button">
            <a href="{{ url_for('login') }}">Войти</a>
        </div>
   </div>
</body>
</html>